---
import Form from 'forms-of-stars/components/Form.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Contact Us</title>
  </head>
  <body>
    <main>
      <h1>Contact Us</h1>
      <Form id="contact" />
    </main>
  </body>
</html>
